/*För skärmar med bredden 480px eller mindre*/
    
#body{
    width:100%;
}
#container {
	width: 100%;
	float: none;
	margin: 0 auto;
}
#navigation {
	width: 100%;
	float: none;
}

#header {
    margin: 0 auto;
}

img {
    max-width:100%;
}