/*Layout*/

#navigation {
    display:block;
    float:left;
}

#container {
    display:block;
    margin-left:200px;
}

#header {
    display:block;
    margin-left:200px;
}

#body {
    margin-right:200px;
    margin-left:200px;
    background-color: rgba(255, 139, 102, 0.4);
}

#bgimage {
    background-image:url(floral.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#image {
    float:right;
    border-left:4px solid #000;
    border-right:4px solid #000;
    border-top:4px solid #000;
    border-bottom:4px solid #000;
    display:block;
}


#image2 {
    float:left;
    border-left:4px solid #000;
    border-right:4px solid #000;
    border-top:4px solid #000;
    border-bottom:4px solid #000;
    display:block;
}




/*Listelement <li> meny*/

#bc {
    background-color:#D8B774;
}

#ulsidemenu {
    padding:0px;
    margin:0px;
    list-style:none;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    border-bottom:1px solid #6F3E04;
    width:150px;
    background-color:#F6DEA5;
}

#ulsidemenu2 {
    border-top:1px solid #6F3E04;
    border-left:1px solid #6F3E04;
    border-right:1px solid #6F3E04;
}

#ulsidemenu3 {
    border-top:1px solid #6F3E04;
    border-left:1px solid #6F3E04;
    border-right:1px solid #6F3E04;
}

#ulsidemenu4 {
    border-top:1px solid #6F3E04;
    border-left:1px solid #6F3E04;
    border-right:1px solid #6F3E04;
}

#ulsidemenu5 {
    border-top:1px solid #6F3E04;
    border-left:1px solid #6F3E04;
    border-right:1px solid #6F3E04;
}

a {
    text-decoration:none;
    display:block;
    width:128px;
    color:#994C00;
    font-weight:bold;
    padding:2px 10px;
}
a:hover {
    background-color:#B9BB79;
    color:#EEEEDC;
}


/*Typografi*/

p {
    color:#5F350B;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

p1 {
    color:#29640F;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.active {
    background-color:#660000;
}

/*Sprites*/

.buttonstart {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -48px;
    text-indent:15px;
}

.buttonstart:hover {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-indent:15px;
}

.buttonpresent {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -239px;
    text-indent:15px;
}

.buttonpresent:hover {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -192px;
    text-indent:15px;
}

.buttonkontakt {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -336px;
    text-indent:15px;
}

.buttonkontakt:hover {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -288px;
    text-indent:15px;
}

.buttonlabb {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -144px;
    text-indent:15px;
}

.buttonlabb:hover {
    background-image:url(../WWW/pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -96px;
    text-indent:15px;
}




